<template>
    <footer id="footer1">
        <div class="container">
            <div class="footer__columns">
                <div class="col">
                    <div class="wrapper">
                        <h2 class="caption">About site</h2>
                        <p class="description-site">Description about this site</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="copyright">
            <div class="triangle-bottomright"></div>
            <p><span>© Copyright Website 2018</span></p>
        </div>
    </footer>
</template>

<script>
export default{
  name: 'footer1'
}
</script>

<style scoped lang="scss">
footer{
    min-height: 100px;
    background: #000;
    position: relative;
    padding: 30px 0;
    .footer__columns{
        display: flex;
        flex-wrap: wrap;
        margin: 0 -15px;
    }
    .col{
        width: 25%;
        min-height: 50px;
        padding: 0 15px;
    }
    .caption, p{
        color: #fff;
    }
}
.copyright{
    position: absolute;
    bottom: 0;
    right: 0;
    width: 220px;
    display: flex;
    .triangle-bottomright{
        width: 0;
        height: 0;
        left: -35px;
        border-bottom: 35px solid #1e5bb2; 
        border-left: 35px solid transparent;
    }
    p{
        background-color: #1e5bb2;
        text-align: center;
        color: #fff;
        height: 35px;
        margin: 0;
        width: calc(100% - 35px);
        font-size: 15px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
</style>
