<template>
   <header id="header-nav">
       <div class="container flex-between">
           <router-link to="/" class="logo">
               <img title="Home" src="./../../../static/img/logo.png" alt="">
           </router-link>
           <nav class="links">
               <router-link to="/">Home</router-link>
               <router-link to="/about">About</router-link>
               <router-link to="/works">Works</router-link>
               <ul class="lang">
                   <li>En</li>
                   <li class="last">Ru</li>
               </ul>
           </nav>
       </div>
   </header>
</template>

<script>
export default{
  name: 'header-nav',
}
</script>

<style scoped lang="scss">
header{
    position: absolute;
    top: 0;
    z-index: 10;
    width: 100%;
}
.logo{
    img{
        max-width: 100px;
        max-height: 50px;
        display: none;
    }
}
.links{
    list-style-type: none;
    margin: 0;
    padding-left: 0;
    display: flex;
    a{
      display: block;
      padding: 18px;
      text-decoration: none;
      font-size: 14px;
      font-family: 'Roboto';
      color: #fff;
      position: relative;
      &:before{
        content: '';
        position: absolute;
        top: 14px;
        height: 2px;
        width: 0%;
        background-color: #3390fa;
        left: 50%;
        transition: .5s;
      }
      &:hover:before{
        width: 40%;
        left: 30%;
        transition: .5s;
      }
      &:after{
        content: '';
        position: absolute;
        bottom: 14px;
        height: 2px;
        background-color: #7bb9ff;
        width: 0;
        left:50%;
        transition: .5s;
      }
      &.router-link-exact-active:after{
        width: 40%;
        left: 30%;
        transition: .5s;
      }
    }
}

.links a:first-letter{
    text-transform: uppercase;
}
.lang{
    list-style-type: none;
    color: #fff;
    font-family: 'Roboto-Bold';
    margin: 0;
    padding: 0;
    position: relative;
    li{
        padding: 16px;
        cursor: pointer;
        &.last{
            position: absolute;
            top: 0;
            opacity: 0;
            transition: .5s;
        }
    }
    &:hover li.last{
        top: 50px;
        opacity: 1;
        transition: .5s;
    }
}
    @media(max-width:600px){
        .links{
            display: none;
        }
    }
</style>
