<template>
    <section id="about">
        <div class="container">
            <div class="row flex-between">
                <div class="about__image">
                    <img src="./../../../static/img/vector-face.png" alt="">
                </div>
                <div class="about__info">
                    <h2 class="title">Обо мне</h2>
                    <p class="description">
                        Меня зовут Богдан. Я занимаюсь веб-разработкой уже 2 года. Основное направление - Front-end. Создаю лендинги, интернет-магазины, сайты визитки, а также приложения на Vue.
                        Работаю как в команде так и один, в зависимости от задач и ситуации. Делаю сайты адаптивными и кроссбраузерными.  
                    </p>
                    <p>
                        <span class="blue-text">Мой стек технологий:</span><br>
                        HTML, CSS, Scss, Bootstrap, JavaScript, jQuery, Vue, WordPress, Gulp, Webpack, Git.
                    </p>
                    <p>
                        <span class="blue-text">Работал в среде CMS:</span><br>
                        WordPress, OpenCart, Shopify, Drupal. 
                    </p>
                    
                    <!--<h3>Качества:</h3>
                    <ul class="no-marker">
                        <li><span>Трудолюбивый</span></li>
                        <li><span>Любознательный</span></li>
                        <li><span>Целиустремленный</span></li>
                        <li><span>Дружелюбный</span></li>
                        <li><span>Саморазвивающийся</span></li>
                    </ul>
                    
                    <h3>Я умею:</h3>
                    <ul class="no-marker">
                        <li><fa icon="dot-circle" /><span>создавать качественные сайты;</span></li>
                        <li><fa icon="dot-circle" /><span>работать в команде;</span></li>
                        <li><fa icon="dot-circle" /><span>разбираться в чужом коде;</span></li>
                    </ul>    -->  
                </div>
            </div>
        </div>
    </section>
</template>

<script>
export default{
  name: 'about'
}
</script>

<style scoped lang="scss">
//Use global styles
@import "./static/scss/settings";

#about{
position: relative;
background-color: #fff;
color: #333;
padding-top: 100px;
padding-bottom: 100px;
z-index: 9;
  .container{
    padding: 0 110px;
  }
  .title{
    margin-bottom: 18px;
  }
}
.about__info{
  p{
    letter-spacing: 0.2px;
    font-size: 17px;
  }
  p:nth-last-of-type(1){
      margin-bottom: 0;
  }    
}
.about__image{
    margin-right: 40px;
}
</style>
