<template>
    <section id="banner" class="padding">
        <div class="banner-left">
            <div class="wrapper">
                <img class="portrait" src="./../../../static/img/person.png" alt="">
            </div>
        </div>
        <div class="banner-right">
            <div class="wrapper">
                <h1 class="name">{{ this.caption }}</h1>
                <p class="description">{{ this.description }}</p>
                <a class="btn-to-skills" @click.prevent="slowScrollToElement('skills')" href="#about">
                    <span>more about my skills</span>
                </a>
            </div>  
        </div>
    </section>
</template>

<script>
export default{
  name: 'banner',
  props: ['caption', 'description'],
  methods: {
    slowScrollToElement(element){
      var elementData = document.getElementById(element).getBoundingClientRect(),
          posPageY = window.pageYOffset; //координаты верхней точки экрана относительно страницы

      var i = posPageY,
          j = 10

      changePosScroll()
      function changePosScroll () {
        i += 5
        window.scroll(0, i)
        if (elementData.top + posPageY > i) {
          if ((elementData.top + posPageY) / 2 > i) {
            j -= 0.1
          } else {
            j += 0.1
          }
          setTimeout(changePosScroll, j)
        }
      }
    }
  }
}
</script>

<style scoped lang="scss">
//Use global styles
@import "./static/scss/settings";
#banner{
    position: relative;
    height: 370px;
    display: flex;
}
.banner-left, .banner-right{
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: relative;
    overflow: hidden;
    > .wrapper{
        height: 100%;
        display: flex;
        justify-content: center;
    }
}
.banner-left{
    transform: skew(0deg, 3.5deg) translate(0,-43px);
    background: linear-gradient(135deg, #021224, #073382);
    > .wrapper{
        margin-left: auto;
        transform: skew(0deg, -3.5deg);
    }
    .portrait{
        height: 100%;
        position: absolute;
        bottom: -30px;
    }
}
.banner-right{
    background: linear-gradient(135deg, #3392fd , #02043b);
    transform: skew(0deg, -4deg) translate(0,-40px);
    > .wrapper{
        margin-right: auto;
        padding: 25px 15px 0 40px;
        transform: skew(0deg, 4deg);
        flex-direction: column;
    }
    .name{
        color: #fff;
        margin: 0 0 0 -2px;
        text-transform: uppercase;
    }
    .description{
        color: #fff;
        margin: 0;
    }
    .btn-to-skills{
        display: flex;
        justify-content: center;
        align-items: center;
        border:1px solid #fff;
        padding: 7px 6px 6px;
        width: 150px;
        text-align: center;
        margin-top: 8px;
        background-color: transparent;
        transition: .4s;
        span{
            text-transform: uppercase;
            font-family: 'Roboto-Bold';
            color: #fff;
            font-size: 11px;
        }
        &:hover{
            background-color: #1a499a;
            transition: .4s;
        }
    }
}
//Adaptive
@media(min-width:991px){
    .banner-left{
        width: calc(50% + 100px);
        .wrapper{
            width: $container * 0.5 + 100px;
        }
    }
    .banner-right{
        width: calc(50% - 100px);
        .wrapper{
            width: $container * 0.5 - 100px;
        }
    }
}
@media(min-width:481px) and (max-width:1200px){
    .banner-left{
        .wrapper{
            width: 95%;
        }
    }
    .banner-right{
        .wrapper{
            width: 95%;
        }
    }
    .scroll-down{
        bottom: 10px;
    }
}
@media(min-width:992px) and (max-width:1200px){
    .banner-right{
        transform: skew(0deg, -4deg) translate(0, -39px);
    }
}
@media(max-width:991px){
    .banner-left{
        width: 50%;
        transform: skew(0deg, 3.5deg) translate(0, -39px);
    }
    .dev-portrait{
        height: 350px;
    }
    .dev-name{
        font-size: 30px;
    }
    .banner-right{
        width: 50%;
    }
}
@media(max-width:600px){
    #banner{
        height: auto;
    }
    .dev-portrait{
        height: auto;
        width: 100%;
        object-fit: cover;
    }
    .banner-left, .banner-right{
        width: 100%;
        .wrapper{
            width: 100%;
            margin: auto;
            padding: 0;
        }
    }
    .banner-left{
        height: 100vh;
        .wrapper{
            height: 100%;
            img{
                position: absolute;
                bottom: -20px;
            }
        }
    }
    .banner-right{
        background:transparent;
        position: absolute;
        bottom: 0;
        transform: skew(0deg, 0deg) translate(0, -60px);
        .wrapper{
            padding: 20px 40px;
            transform: skew(0deg, 0deg);
            justify-content: flex-end;
        }
    }
}
@media(min-width:326px) and (max-width:380px){
    .banner-left{
        height: 420px;
    }
}
@media(max-width:325px){
    .banner-left{
        height: 380px;
    }
}
</style>
