<template>
    <section id="works" class="padding">
        <div class="container">
            <h2>{{this.caption}}</h2>
            <sign-in></sign-in>
        </div>
    </section>
</template>

<script>
export default{
  name: 'works',
  props: ['caption'],
  components: {
      SignIn: () => import('./../elements/SignIn.vue')
  }
}
</script>
