<template>
<div id="sidebar-account">
    <div class="header">
        <p>Home</p>
    </div>
    <div class="menus">
        <div class="menu">
            <h4 class="title">Home</h4>
            <ul class="list">
                <li><a href="#">about</a></li>
                <li><a href="#">skills</a></li>
                <li><a href="#">works</a></li>
            </ul>
        </div>
        
        <div class="menu">
            <h4 class="title">Works</h4>
            <ul class="list">
                <li><a href="#">about</a></li>
                <li><a href="#">skills</a></li>
                <li><a href="#">works</a></li>
            </ul>
        </div>
        
        <div class="menu">
            <h4 class="title">Works</h4>
            <ul class="list">
                <li><a href="#">about</a></li>
                <li><a href="#">skills</a></li>
                <li><a href="#">works</a></li>
            </ul>
        </div>
        
        <div class="menu">
            <h4 class="title">Works</h4>
            <ul class="list">
                <li><a href="#">about</a></li>
                <li><a href="#">skills</a></li>
                <li><a href="#">works</a></li>
            </ul>
        </div>
    </div>
</div>
</template>

<script>
export default {
    name: 'AccountSidebar',
    data () {
        return {

        }
    }
}
</script>

<style lang="scss" scoped>
#sidebar-account{
    width: 240px;
    height: 100vh;
    border-right: 1px solid #dedede;
    box-shadow: 0px 0px 4px #dedede;
    position: fixed;
    overflow: auto;
    > div{
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .title{
        padding: 10px 15px;
        margin: 0;
        background-color: #3392fd;
        color: #fff;
    }
    .list{
        margin: 0;
        padding: 12px 15px;
        list-style-type: none;
        a{
            color: #585858;
        }
    }
}
</style>
