<template>
    <div>
        <AccountSidebar>
        </AccountSidebar>  
    </div>
</template>

<script>
export default {
    components: {
        AccountSidebar: () => import('./../components/account/sidebar.vue')
    }
}
</script>
