<template>
  <div class="home page">
    <banner 
        caption="Bogdan Samus" 
        description="Front-end and Back-end developer">  
    </banner>
    <about></about>
    <skills caption="My Skills"></skills>
    <works caption="My Works"></works>
  </div>
</template>

<script>

export default {
  name: 'home',
  components: {
    Banner: () => import('./../components/sections/Banner.vue'),
    About: () => import('./../components/sections/About.vue'),
    Skills: () => import('./../components/sections/skills/Skills.vue'),
    Works: () => import('./../components/sections/Works.vue')
  }
}
</script>
