<template>
    <div id="popup-skill" class="popup-darkback">
        <div class="popup-info-skill">
            <div class="popup__btn-close" @click="popupClose">
                <span class="icon-close">&#x2716;</span>
            </div>
            <header>
                <div class="popup__logo">
                    <img :src="skillImg" :alt="this.title">
                </div>
                <div class="popup__header-wrapper">
                    <h2 class="popup__caption">{{this.title}}</h2>
                    <p class="popup__description">{{this.shortDescription}}</p>
                </div>
            </header>
            <main class="popup__content">
                <p>
                    {{this.text}}
                </p>
            </main>
        </div>
    </div>
</template>

<script>
export default{
    name: 'popup-skill',
    props: ['title', 'abbreviation', 'shortDescription', 'text', 'img'],
    methods: {
        popupClose: function() {
            document.body.style.overflow = 'auto';
            this.$emit('popupClose', false)
        }
    },
    computed: {
        skillImg: function () {
        return require('./../../../../static/img/technologies_icons/' + this.img);
        },
    },
}
</script>

<style scoped lang="scss">
    .popup-darkback{
        background-color: rgba(0, 0, 0, .8);
        position: fixed;
        top: 0;
        width: 100%;
        height: 100vh;
        z-index: 9999;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .popup-info-skill{
        background-color: rgba(255, 255, 255, 0.9);
        width: 480px;
        border-radius: 15px;
        border: 2px solid #3392fd;
        position: relative;
        header{
            display: flex;
            height: 90px;
            padding: 10px;
        }
        .popup__logo{
            height: 100%;
            img{
                height: inherit;
            }
        }
        .popup__header-wrapper{
            padding: 2px 0 2px 10px;
            width: calc(100% - 90px);
        }
        .popup__caption{
            border-bottom: 2px solid #3392fd;
            padding-bottom: 2px;
            color: #353535;
            text-transform: capitalize;
            &:first-letter{
                color: #ef2323;
            }
        }
        .popup__description{
            margin: 10px 0 0;
            color: #353535;
            font-family: 'Roboto-Bold';
        }
        .popup__content{
            padding: 0 30px 15px 20px;
            text-align: justify;
            max-height: 300px;
            overflow: hidden;
            p:first-of-type{
                margin-top: 0;
            }
            p:last-of-type{
                margin-bottom: 0;
            }
        }
    }
    .popup__btn-close{
        position: absolute;
        top: -15px;
        right: -15px;
        background: radial-gradient(#295d96, #02102a);
        border: 2px solid #0851a2;
        border-radius: 50%;
        width: 40px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor:pointer;
        transition: border .5s;
        .icon-close{
            font-size: 18px;
            height: 100%;
            padding-top: 6px;
            color: #fff;
        }
        &:hover{
            transition: border .5s;
            border: 2px solid #3292fd;
        }
    }
</style>