<template>
    <div class="skill" @click='translateData'>
        <div class="skill_inner">
            <div class="skill__logo">
                <img :src="skillImg" :alt="this.title" @mouseover="skillTitleShow = true">
            </div>
            <transition name="fade">
                <p v-if="skillTitleShow" class="skill__text">{{this.abbreviation}}</p>
            </transition>
        </div>
        <div class="skill_corner1"></div>
        <div class="skill_corner2"></div>
    </div>
</template>

<script>
export default{
  name: 'skill',
  data () {
    return {
      skillTitleShow: false,
    }
  },
  props: ['title', 'abbreviation', 'text', 'img', 'id'],
  computed: {
    skillImg: function () {
      return require('./../../../../static/img/technologies_icons/' + this.img);
    },
  },
  methods: {
    translateData: function () {
        document.body.style.overflow = 'hidden';
        this.$emit('translate-id-skill', this.id)
    }
  }
}
</script>

<style scoped>
    .skill{
        width: 117px;
        height:61px;
        background-color: #1e5bb230;
        border-left: 2px solid #3392fd;
        border-right: 2px solid #3392fd;
        background-repeat: no-repeat;
        background-position: 50% 50%;			
        background-size: auto 173px;							
        position: relative;
        float:left;
        margin:25px 5px;
        text-align:center;
        zoom:1;
        cursor:pointer;
    }
    .skill_inner{
        height: inherit;
        position: relative;
        z-index: 3;
    }
    .skill_corner1, .skill_corner2{
        position: absolute;
		top:0;
		left:0;
		width:100%;
		height:100%;
		background: inherit;								
		overflow:hidden;		
		backface-visibility: hidden;
        border-left: 2px solid #3392fd;
        border-right: 2px solid #3392fd;
        cursor:pointer;
    }
    .skill_corner1{
        z-index:1;
		transform: rotate(60deg);
        &:before{
            transform: rotate(-60deg) translate(-87px, 0px);	
            transform-origin: 0 0;
        }
    }
    .skill_corner2{
        z-index:2;
        transform: rotate(-60deg);
        &:before{
            transform: rotate(60deg) translate(-48px, -11px);	
            bottom:0;
        }
    }
    .skill__logo{
        height: inherit;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .skill__logo img{
        max-width: 90%;
        max-height: 90%;
    }
    .skill__text{
        font-size: 14px;
        text-align: center;
        margin: 2px 0;
        position: relative;
        z-index: 1;
        padding-left: 15px;
        padding-right: 15px;
        text-transform: uppercase;
        color: #3292fd;
        font-family: 'Roboto-Bold';
    }
    /* Animation Skills */
    .fade-enter-active, .fade-leave-active{
        transition: all .5s;
    }
    .fade-enter, .fade-leave-to{
        transform: translateY(-50px);
        opacity: 0;
    }
</style>
