<template>
    <section id="skills">
        <div class="container">
            <h2 class="skills__caption"><span>{{this.caption}}</span></h2>
            <div class="skills">
                <skill 
                    v-for="(skill, key) in skills" 
                    @translate-id-skill="clickedSkill" 
                    :title="skill.title" 
                    :abbreviation="skill.abbreviation" 
                    :text='skill.text' 
                    :img='skill.img' 
                    :key='skill.id' 
                    :id="key">
                </skill>
            </div>
        </div>
        <transition name="showPopup" >
            <popup 
                :title="this.popup.title" 
                :abbreviation="this.popup.abbreviation"
                :shortDescription="this.popup.shortDescription"
                :text="this.popup.text"
                :img="this.popup.img"
                v-if="showPopup"
                @popupClose="popupClose">
            </popup>
        </transition>
    </section>
</template>

<script>
export default{
  name: 'skills',
  data() {
      return {
          skills: [
              {
                  title: 'Hypertext markup language',
                  abbreviation: 'HTML',
                  shortDescription: 'short',
                  text: 'text',
                  img: 'html.svg'
              },
              {
                  title: 'Cascading Style Sheets',
                  abbreviation: 'CSS',
                  shortDescription: 'short',
                  text: 'text',
                  img: 'css3.svg'
              },
              /*{
                  title: 'Syntactically awesome style sheets',
                  abbreviation: 'Scss',
                  text: 'text',
                  img: 'scss.svg'
              },*/
              {
                  title: 'Bootstrap',
                  abbreviation: 'BS',
                  shortDescription: 'short',
                  text: 'text',
                  img: 'bootstrap.svg'
              },
              {
                  title: 'Javascript',
                  abbreviation: 'JS',
                  img: 'javascript.svg',
                  shortDescription: 'Programming language of HTML and the Web.',
                  text: "Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum."
              },
              {
                  title: 'jQuery',
                  abbreviation: 'JQ',
                  shortDescription: 'short',
                  text: 'text',
                  img: 'jquery.svg'
              },
              {
                  title: 'Git',
                  abbreviation: 'GIT',
                  shortDescription: 'short',
                  text: 'text',
                  img: 'git.svg'
              },
              {
                  title: 'npm',
                  abbreviation: 'NPM',
                  shortDescription: 'short',
                  text: 'text',
                  img: 'npm.svg'
              }
          ],
          popup: {
              title: '',
              abbreviation: '',
              shortDescription: '',
              text: '',
              img: ''
          },
          showPopup: false
      }
  },
  props: ['caption'],
  methods: {
      clickedSkill: function(id) {
          this.showPopup = true;
          this.popup.title = this.skills[id].title;
          this.popup.abbreviation = this.skills[id].abbreviation;
          this.popup.shortDescription = this.skills[id].shortDescription;
          this.popup.text = this.skills[id].text;
          this.popup.img = this.skills[id].img;
      },
      popupClose: function() {
          this.showPopup = false
      }
  },
  components: {
    Skill: () => import('./Skill.vue'),
    Popup: () => import('./PopUp.vue')
  }
}
</script>

<style scoped lang="scss">
    #skills{
        background: url(./../../../../static/img/background-skills.jpg) 50%/cover no-repeat;
        background-attachment: fixed;
        padding: 70px 0 85px;
        position: relative;
        border-top: 5px solid #3292fd;
        &:before{
            content: '';
            position: absolute;
            top: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, .8);
        }
        .container{
            position: relative;
            z-index: 9;
        }
    }
    .skills__caption{
        text-align: center;
        margin-bottom: 35px;
        user-select: none;
        span{
            color: #3392fd;
            text-transform: uppercase;
            border-left: 2px solid #01356f;
            border-right: 2px solid #01356f;
            padding: 0 40px;
            font-size: 22px;
        }
    }
    .skills{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
    /*Animation*/
    .showPopup-enter, .showPopup-leave-to{
        opacity: 0;
    }
    .showPopup-enter-active, .showPopup-leave-active{
        transition: .5s;
    }
    .showPopup-enter-to, .showPopup-leave{
        opacity: 1;
    }
</style>
