<template>
    <div class="wrapper">
        <input type="text" placeholder="Enter Password" v-model="userPassword">
        <button @click="signin">Enter</button>
    </div>
</template>

<script>
export default {
    name: 'sign-in',
    data () {
        return {
            userPassword: '',
            dataPassword: '000'
        }
    },
    methods: {
        signin: function() {
            if(this.dataPassword === this.userPassword){
                window.open('http://localhost:8080/admin')
            } else {
                this.userPassword = 'wrong'
            }
            
        }
    }
}
</script>
