<template>
  <div id="app">
    <header-temp v-if="!showHeaderAndFooter"></header-temp>
    <router-view/>
    <footer-temp v-if="!showHeaderAndFooter"></footer-temp>
  </div>
</template>

<script>
export default{
    
    components: {
      HeaderTemp: () => import('@/components/main-parts/Header.vue'),
      FooterTemp: () => import('@/components/main-parts/Footer.vue')
    },
    computed: {
        showHeaderAndFooter: function() {
           return location.pathname == '/admin'
        }
    }
}
</script>

<style lang="scss">
    @font-face{
        font-family: 'Roboto';
        src: url('../static/font/Roboto-Regular.ttf');
    }
    @font-face{
        font-family: 'Roboto-Bold';
        src: url('../static/font/Roboto-Bold.ttf');
    }
    *{
        box-sizing: border-box;
    }
    body{
        margin: 0;
    }
    /*.page{
        margin-top: 54px;
    }*/
    h1, h2, h3, h4{
        font-family: 'Roboto-Bold';
    }
    h1{
        font-size: 36px;
    }
    h2{
        margin: 0;
    }
    p{
        font-family: 'Roboto';
        font-size: 16px;
        line-height: 1.4;
    }
    span{
        font-family: 'Roboto';
    }
    a{
        text-decoration: none;
    }
    .container{
        width: 1170px;
        margin: auto;
        padding-left: 15px;
        padding-right: 15px;
    }
    .padding-section{
        padding-top: 40px;
        padding-bottom: 40px;
    }
    .blue-text{
        color: #3392fd;
    }
    .bg-text{
        color: #ffffff;
        background-color: #328ef8;
        padding: 2px 10px;
    }
    
    @media(max-width:1200px){
        .container{
            width: 94%;
        }
    }
    .flex-between{
        display: flex;
        justify-content: space-between;
    }
    /*Scrollbar*/
    ::-webkit-scrollbar{
        width: 0px;
        background-color: #e2e2e2;
    }
    ::-webkit-scrollbar-thumb{
        background-color: #0b3975;
    }
    .dark-theme{
        h2, h3, p, span{
            color: #fff;
        }
    }
</style>
